<%= form_for @gif do |f| %>

  <div class="errors">
    <% f.object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <% f.fields_for(:gif_labels) do |gif_label_form| %>
      <%= render('gif_label_fields', f: gif_label_form)%>
    <% end %>

    <%= link_to_add_association 'Add label', f, :gif_labels %>
  </div>

  <div>
    <br>
    <%= f.submit %>
  </div>

<% end %>
