<%= form_for @gif do |f| %>

  <%= render('shared/form_errors', f: f) %>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div>
    <label for="label_ids">Labels</label>
    <%= f.select :label_ids, @label_options, {}, { multiple: true } %>
  </div>

  <div>
    <br>
    <%= f.submit %>
  </div>

<% end %>
